.impnoti {
    width: 400px;
    height: 80px;
    padding: 10px;
    border-radius: 7px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    background-color: #444645;
    color: white;
    -webkit-box-shadow:  1px 1px 1px  rgba(68, 70, 69, .8);
    box-shadow:  1px 1px 1px  rgba(68, 70, 69, .8);
    z-index: 99999;
    opacity:0.9;
}
.impnoti a {
    color: #CCC;
    font-style: italic;
}
.impnoti div.impbody {
    overflow: hidden;
    max-height: 85px;
}
.impnoti div.impbody p {
    margin: 0px;
}
.impnoti img.inclose {

}
.impnoti span.inclose {
    width: 12px;
    height: 12px;
    background: url('close.png') no-repeat;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    float: right !important;
    cursor: pointer;
}
.impbody h4 {margin: 0px; padding: 0px;}
.impbody p {margin: 0px; padding: 0px;}